# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Environment
.env
.env.*

# Database
*.sqlite3